p {
  color: #FF5733  ;
}

nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  background-color: #dddddd;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  background-color: #dddddd;
}

nav ul li a:hover {
  background-color: purple;
  color: white;
}

h1 {
  display: block;
  margin: 50px;
}
h2{
  margin: 50px;
}

body {
    background-image: url("/images/wood-background.jpg");
    background-repeat: no-repeat;
    background-size: 200px 1000px;
    background-color: #cccccc;
    background-position: left ;
}

#content {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUcvAWYZ0yHFWM_u2F0L3rRxFJmPaCySa8WIEEqKw6nKkz_KR4");
    background-repeat: no-repeat;
    background-size: 200px 1000px;
    background-position: right ;

}
