nav ul {
  list-style-type: none;
  magin: 0;
  padding: 0;
  background-color: #dddddd;
}

nav ul li {
  float:left;
}
a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
  
}

nav ul li a:hover{
  background-color:purple;
  color: white;
}
h1{
	display:block;
	margin: 1000px;
}